*
{

    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
    font-family: 'poppins' sans-serif;
    
}
    
body
    
{
color:#ffffff;
background-image: url(black.png);
background: #081b29;
}
    
.header
    {
    
    position: fixed;
    
    top: 0;
    
    left: 0;
    
    width: 100%;
    
    padding: 20px 10%;
    
    background: #051129;
    
    display: flex;
    
    justify-content: space-between;
    
    align-items: center;
    
    z-index: 100;
    
}
    
.logo {
    
    position: relative;
    
    font-size:
    
    25px;
    
    color: #ffffff;
    
    text-decoration: none;
    
    font-weight: 600;
    cursor:default;
    opacity:0;
    animation: slideRight .1s ease forwards;
    
}
    
.navbar a {
    
    display: inline-block;
    
    font-size: 25px;
    
    color: #fff;
    
    text-decoration: none;
    
    font-weight: 500;
    
    margin-left: 35px;
    
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    
}
.navbar a:hover{

    color: #eef;
    
    }
    
.home {
    
    position: relative;
    
    width: 100%;
    
    justify-content: space-between;
    
    height: 100vh;
    
    background-image:url(purple.png) no repeat;
    
    background-size: cover;
    
    background-position: center;
    
    display: flex;
    
    align-items: center;
    
    padding: 70px 10% 0;
    }
    
.home-content {
    
    max-width: 600px;
    
    }
    
.home-content h3 {
    
    font-size: 32px;
    
    font-weight: 700;
    
}
.home-content h3 :nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3 {
    color:#aa1111
}

    
.home-content h1{
    
    font-size: 56px;
    
    font-weight: 700;
    
    margin: -3px 0;

    
}

@keyframes fadeSlideUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-slide-up {
    animation: fadeSlideUp 1s ease-in-out forwards;
    opacity: 0; /* Start hidden */
  }
  
.home-content p {

    font-size: 20px;
    
}

.glow-text {
    color: rgb(226, 232, 232);
    text-shadow: 0 0 5px #0ef, 0 0 10px #0ef, 0 0 20px #0ef;
    animation: glow 1.5s infinite alternate;
}
  
  @keyframes glow {
    from {
      text-shadow: 0 0 5px #0ef;
    }
    to {
      text-shadow: 0 0 20px #0ef, 0 0 30px #0ef;
    }
}
.typewriter p {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #0ef;
    font-size: 24px;
    color: aliceblue;
    width: 0;
    animation: typing 3s steps(40, end) forwards;
    animation-delay: var(--delay);
    opacity: 0;
  }
  
  .typewriter div:nth-child(1) { --delay: 0s; }
  .typewriter div:nth-child(2) { --delay: 3s; }
  .typewriter div:nth-child(3) { --delay: 6s; }
  .typewriter div:nth-child(4) { --delay: 9s; }
  .typewriter div:nth-child(5) { --delay: 12s; }
  .typewriter div:nth-child(6) { --delay: 15s; }
  .typewriter div:nth-child(7) { --delay: 18s; }
  .typewriter div:nth-child(8) { --delay: 21s; }
  
  @keyframes typing {
    0% {
      width: 0;
      opacity: 1;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }

    
.home-sci a {
    
    display: inline-flex;
    
    justify-content: center;
    
    align-items: center;
    
    width: 40px;
    
    height: 40px;
    
    background: transparent;
    
    border: 2px solid rgb(7, 83, 109);
    
    border-radius: 50%;
    
    font-size: 20px;
    
    color: rgb(255, 123, 0);
    
    text-decoration: none;
    
    margin: 30px 15px 30px 0;
    
}
    
.home-sci a:hover {
    
    background:rgb(200, 117, 23);
    
    color: #081629;
    
    box-shadow: 0 0 20px rgb(203, 115, 15);
    
    }
    
.btn-box{
    
    display: inline-block;
    
    padding: 12px 28px;
    
    background:#0ef;
    
    border-radius: 40px;
    
    font-size: 16px;
    
    color: #081629;
    
    letter-spacing:1px;
    
    text-decoration: none;
    
    font-weight: 600;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan
}
.sarth{
    padding-top: 0;
    margin-top: 40px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
  }
  
  @keyframes fadeIn {
    to { opacity: 1; }
}

@keyframes zoomIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .zoom-in {
    animation: zoomIn 1s ease-in-out infinite;
  }
  
  


  
    

.about{

    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    
    align-items: start;
    min-height: 100vh;
    padding-top: 100px;
    
    gap: 1.5rem;
    
}
    
.about-img img{
    
    padding-bottom: 20%;
    
    max-width: 300px;
    
    height: auto;
    
    width: 100%;
    margin-left: 25%;
    

    
    }
    
.about-text h2{
    
    font-size: 60px;
    
}
    
.about-text h2 span{
    
    color: #0ef;
    
}


.sub-title span{
    color:#0ef;

}


.sub-title {
    margin-top: 30px;
    text-align: center;
    
    font-size: 4em;
}
@keyframes glowPulse {
    0% {
      text-shadow: 0 0 5px #0ef, 0 0 10px #0ef;
    }
    50% {
      text-shadow: 0 0 20px #0ef, 0 0 30px #0ef;
    }
    100% {
      text-shadow: 0 0 5px #0ef, 0 0 10px #0ef;
    }
  }
  
  .glow-pulse {
    animation: glowPulse 2s infinite;
    
  }


  
    
.about-text h4{
    
    font-size: 29px;
    
    font-weight: 600;
    
    color:#fff;
    
    line-height: 1.7;
    
    margin: 15px 0 30px;
    
    }
    
.about-text p{
    
    color: aliceblue;
    
    font-size: 20px;
    
    line-height: 1.4;
    
    margin-bottom: 4rem;
}
.title{
    text-align: center;
    font-size: 50px;
    line-height: 1.4;
    padding-bottom: 70px;
}


.typewriter div {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #0ef;
    font-size: 24px;
    color: aliceblue;
    width: 0;
    animation: typing 3s steps(40, end) forwards;
    animation-delay: var(--delay);
    opacity: 0;
  }
  
  .typewriter div:nth-child(1) { --delay: 0s; }
  .typewriter div:nth-child(2) { --delay: 3s; }
  .typewriter div:nth-child(3) { --delay: 6s; }
  .typewriter div:nth-child(4) { --delay: 9s; }
  .typewriter div:nth-child(5) { --delay: 12s; }
  .typewriter div:nth-child(6) { --delay: 15s; }
  .typewriter div:nth-child(7) { --delay: 18s; }
  .typewriter div:nth-child(8) { --delay: 21s; }
  
  @keyframes typing {
    0% {
      width: 0;
      opacity: 1;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }
  


  










@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity:0;

    }
    100%{
        transform: translateX(0px);
        opacity:1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateX(-100px);
        opacity:0;

    }
    100%{
        transform: translateX(0px);
        opacity:1;
    }
    
}

.homii{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
.homii-img{
    border-radius: 50%;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
}

.homii-img img{
    position: relative;
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #083253;
    cursor: pointer;
    transition: 0.2s linear;
}

.homii-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}


section{
    display: flex;
    
}



.container1{

    width: 600px;
    
    height: 500px;
    
    padding: 29px 90px;
    
    margin-left: 100px;

    margin-top: 3%;
    margin-bottom: 5%;

  
    
    }
    
.heading1{
    
    text-align: center;
    
    text-decoration: underline;
    
    text-underline-offset: 10px;
    
    text-decoration-thickness: 5px;
    
    margin-bottom: 43px;
    
}
    
.bar{
    
    font-size: 23px;
    
    }
    
.Technical-bars .bar {
    
    margin: 40px 0;
    
}
    
.Technical-bars .bar:first-child{
    
    margin-top: 0;
    
    }
    
.Technical-bars .bar:last-child{
    
    margin-bottom: 0;
    
}
    
.Technical-bars .bar.info{
    
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    

}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 8px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
    margin-top: 5px;
   
    
}
    
@keyframes animate{
    
    100%{
        transform: scaleX(1);
    
    }
}
    
    
    
.Technical-bars .bar .progress-line span{
    display: block;
    height: 100%;
    background-color: #0ef;
    border-radius: 10px;
    position: absolute;
    animation: animate 1s 1s cubic-bezier(1,0,0,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
    
   
    
}

.progress-line .html span{ 
    width: 70%;

}
.progress-line .css span{
    width: 70%;

}
.progress-line .python span{
    width: 50%;

}

.progress-line .c span{
    width: 80%;

}



.Technical-bars .bar .progress-line span::after{
    content: attr(data-percent);
  position: absolute;
  top: -25px;
  right: 0;
  background-color: #000;
  color: #fff;
  padding: 2px 6px;
  font-size: 13px;
  border-radius: 4px;
  opacity: 0;
  animation: showText 0.5s 1.5s linear forwards;
 
}
.progress-line .html span::after{

    content: "70%";
    
}
    
.progress-line .css span::after{
    
    content: "70%";
    
}
    
.progress-line .python span::after{
    
    content: "50%";
    
}
    
.progress-line .c span::after{
    
    content: "80%";
    
}
    

    
.progress-line span::before{
    content: "";
    
    position: absolute;
    
    width: 0;
    
    height: 0;
    
    border: 7px solid transparent;
    
    border-bottom-width: 0px;
    
    border-right-width: 0px;
    
    border-top-color: #000;
    
    top: -10px;
    
    right: 0;
    
    animation: showText 0.5s 1.5s linear forwards;
    
    opacity: 0;
    
}
    
@keyframes showText{
    to {
        opacity: 1;
    }
}


.radial-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.radial-bar {
    position: relative;
    width: 160px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.radial-bar svg {
    width: 120px;
    height: 120px;
    transform: rotate(-90deg);
    margin-bottom: 10px;
}
.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.text {
    font-size: 1.1em;
    color: #fff;
    margin-top: 10px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    
}




.radial-bars .radial-bar{
    width: 50%;
    height:170px;
    margin-bottom: 10px;
    position: relative;

}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

    
@keyframes animate-bar {
    to {
        stroke-dashoffset: -1;
    }
}

.radial-bar .progress-bar {
        stroke-width: 10;
        stroke: #000;
        fill: transparent;
        stroke-dasharray: 502;
        stroke-dashoffset: 502;
        stroke-linecap: round;
        animation: animate-bar 1s linear forwards;
}
    
.path{
    
    stroke-width: 10;
    
    stroke: #0ef;
    
    fill: transparent;
    
    stroke-dasharray: 502;
    
    stroke-dashoffset: 502;
    
    stroke-linecap: round;
    
}
    
.path-1{animation: animate-path1 1s 1s linear forwards;}
    
.path-2{animation: animate-path2 1s 1s linear forwards;}
    
.path-3{animation: animate-path3 1s 1s linear forwards;}
    
.path-4{animation: animate-path4 1s 1s linear forwards;}
    
@keyframes animate-path1 {
    
    to {
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2 {
    
    to {
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3 {
    
    to {
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4 {
    
    to {
        stroke-dashoffset: 75;
    }
}
.radial-bar .percentage {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text {
    margin-top: -15px;
    text-align: center;
    font-size: 1.1em;
    color: #fff;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.sub-titlee span{
    color:#0ef;

}


.sub-titlee {
    margin-top: 30px;
    text-align: center;
    
    font-size: 4em;
}


.project .sub-title {
    text-align: center;
    margin-left: 50%;
    font-size: 3rem; 
    margin-top: 30px;
    margin-bottom: 20px;
  }
  

.containerr{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top:20px; 
        min-height: 69vh;
        max-width: 90%;
        margin: auto;
}
      
.card{
    width:300px;
    height:350px;
    margin:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2) ;
    border-radius: 10px;
    overflow:hidden;
    transition: transform 0.4s ease;

}
.card:hover{
    transform:scale(1.5);
}
.content{
    padding:20px;
}
.content h3{
    font-size: 20px;
    margin-bottom: 20px;
    color:#c5541c;
}

h3{
    font-size: 225%;
    color:#3b3dc8

}
.tap{
    width: 300px;
    height: 200px;
}
strong{
    color: #26a5be;
    font-size:small;
}



.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 3rem;
    padding: 60px 30px;
    margin-top: 200px;
  }
  
  .contact-text h2 {
    font-size: 60px;
    margin-bottom: rem;
    line-height: 1.2;
    text-align: left;
    
  }
  
  .contact-text h2 span {
    color: #0ef;
  }
  
  .contact-text h4 {
    margin: 20px ;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
  }
  
  .contact-text p {
    color: rgb(177, 177, 177);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2rem;
  }
  
  .contact-list {
    margin-bottom: 2rem;
    list-style: none;
    padding: 0;
  }
  
  .contact-list li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
  }
  
  .contact-list i {
    margin-right: 10px;
    color: #0ef;
    font-size: 20px;
  }
  
  .contact-icons {
    display: flex;
    gap: 15px;
  }
  
  .contact-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    transition: 0.5s ease;
  }
  
  .contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    border: none;
    outline: none;
    padding: 14px;
    background: #555557;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    width: 100%;
  }
  
  .contact-form textarea {
    resize: none;
    height: 150px;
  }
  
  .contact-form .send {
    background: #0ef;
    color: #000;
    font-weight: 600;
    padding: 14px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
  }
  
  .contact-form .send:hover {
    background: #0cf;
    box-shadow: 0 0 10px #0ef;
  }
footer{
    background:linear-gradient(135deg,rgb(47, 248, 255),rgb(13, 136, 230));
    padding: 20px;
    text-align: center;
}
  

@media (max-width: 460px) {
    .sub-title {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: block;
    }
}
  
@media (max-width: 460px) {
    .glow-pulse {
      width: 100%;
      text-align: center;
    }
}
@media (max-width: 460px) {
    .container1 {
      width: 90%;
      padding: 20px;
      margin: 0 auto;
      height: auto;
    }
  
    .sub-title {
      font-size: 2.5em;
      margin-top: 20px;
    }
  
    .heading1 {
      font-size: 1.8em;
      margin-bottom: 30px;
    }
  
    .Technical-bars .bar {
      margin: 20px 0;
    }
  
    .radial-bars {
      grid-template-columns: 1fr;
      gap: 30px;
      padding: 10px;
    }
  
    .radial-bar {
      width: 100%;
      height: auto;
    }
  
    .radial-bar svg {
      width: 100px;
      height: 100px;
    }
  
    .percentage {
      font-size: 1em;
    }
  
    .text {
      font-size: 1em;
    }
}
  